@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    /* padding: 0px 24px 24px 24px; */
}

img {
    max-width: 100%;
}

span {
    display: inline-block;
}

header {
    margin-bottom: 65px;
}

.calc-container {
    width: 1276px;
    /* border: 2px solid red; */
    position: relative;
}

.calculator {
    width: 1160px;
    margin: 0 438px 65px 24px;
}

.calculator div:first-child.background {
    background: linear-gradient(290deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%);
    border-radius: 0px 0px 35px 35px;
    height: 737px;
}

.calculator div:first-child.background span:first-child {
    margin: 75px 798px 131px 116px;
}

.calculator div:first-child.background div:nth-child(2) {
    width: 564px;
    /* border: 2px solid red; */
    margin: 0 298px 0 116px;
}


.calculator div:first-child h1 {
    color: #253347;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    /* 70.4px */
    letter-spacing: -3.2px;
}

.calculator div:first-child h5 {
    color: #5E6E85;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 24px */
}

header div:nth-child(2).calculator-entry {
    background-color: #fff;
    padding: 32px;
    box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
    width: 564px;
    border-radius: 16px;
    position: absolute;
    top: 181px;
    right: -140px;
    /* left: 712px; */
}

header div:nth-child(2).calculator-entry h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.2px;
    margin-bottom: 32px;
}


header div:nth-child(2).calculator-entry input[type="radio"] {
    width: 31px;
    height: 31px;
    margin-right: 18px;
}

header div:nth-child(2).calculator-entry label {

    color: #253347;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 24px */
}

header div:nth-child(2).calculator-entry div:nth-child(2) {
    margin-bottom: 32px;
}

header div:nth-child(2).calculator-entry div:nth-child(2) label:nth-child(2) {
    /* border: 2px solid red; */
    margin-right: 163px;

}


.calculator-flex {
    display: flex;
    /* flex-direction: column; */
    gap: 24px;
}

.calculator-flex h5 {
    color: #5E6E85;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
    margin-bottom: 8px;
}

.calculator-flex input {
    border-radius: 12px;
    padding: 20px 24px;
    font-size: 24px;
    width: 238px;
}

.calculator-entry div:last-child.welcome {
    border-radius: 30px 999px 999px 30px;
    background: linear-gradient(90deg, #345FF6 0%, #587DFF 100%);
    padding: 32px;
    color: #fff;
}

.calculator-entry div:last-child.welcome h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -1.2px;
    margin-bottom: 16px;
}

.calculator-entry div:last-child.welcome h5 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 21px */
}

/* .calculator-grid span {
    position: absolute;
} */




main {
    position: relative;
}


main section {
    width: 1160px;
}

main section.result-grid {

    /* background-color: tomato; */
    color: #253347;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 131px;
    align-items: center;
    margin: 65px auto 96px;
}

section div:first-child img[src="images/Clipped_image.png"] {
    width: 468px;
}

section div:nth-child(2).meaning h1 {
    font-size: 48px;
    font-weight: 600;
    font-style: normal;
    line-height: 110%;
    letter-spacing: -2.4px;
    margin-bottom: 35px;
}

section div:nth-child(2).meaning h5 {
    color: #5E6E85;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

section.plan {
    /* background-color: linear-gradient(290deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%)); */
    background: url("../images/results-background.svg");
    border-radius: 35px;
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto 120px;
    padding: 72px 116px 96px;
    width: 1392px;
    position: relative;
}

.plan .grid-item span {
    display: inline-block;
    /* border: 2px solid red; */
    width: 64px;
    margin-bottom: 45px;
}

.plan .grid-item h4 {
    color: #253347;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -1.2px;
    line-height: normal;
    margin-bottom: 24px;
}

.plan .grid-item h5 {
    color: #5E6E85;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 150%;
}

main span:nth-child(3) {
    /* border: 2px solid red; */
    position: absolute;
    right: 550px;
    top: -180px;
}

section.limitation {
    width: 1160px;
    margin: 0 auto 120px;
}


section.limitation .flex-limitation {
    display: flex;
    gap: 132px;
    justify-content: space-around;
    margin-bottom: 32px;
}

section.limitation .flex-limitation h1 {
    /* border: 2px solid red; */
    color: #253347;
    font-size: 48px;
    line-height: 110%;
    font-weight: 600;
    letter-spacing: -2.4px;
    margin-bottom: 35px;
}

section.limitation .flex-limitation h5 {
    color: #5E6E85;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
}

section.limitation .flex-limitation div:last-child {
    /* border: 1px solid tomato; */
    border-radius: 16px;
    padding: 32px;
    box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
    margin-right: 99px;
}



section.limitation .flex-limitation div:nth-child(2) div:first-child {
    /* border: 2px solid red; */
    display: flex;
    gap: 16px;
}

section.limitation .flex-limitation div:nth-child(2) div:first-child span {
    display: inline-block;
}

section.limitation .flex-limitation div:nth-child(2) div:first-child h3 {
    color: #253347;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    /* margin-left: 16px; */
    letter-spacing: -1px;
}

section.limitation .limitation-middle {
    /* border: 2px solid red; */
    display: flex;
    gap: 32px;
    margin-left: 398px;
    margin-bottom: 24px;
    /* width: 762px; */
}

section.limitation .limitation-middle .left {
    border-radius: 16px;
    padding: 32px;
    box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}

section.limitation .limitation-middle .right {
    border-radius: 16px;
    padding: 32px;
    box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}

section.limitation .limitation-middle .left div:first-child,
section.limitation .limitation-middle .right div:first-child {
    /* border: 2px solid red; */
    display: flex;
    gap: 16px;
}

section.limitation .limitation-middle .left div:first-child h3,
section.limitation .limitation-middle .right div:first-child h3 {
    /* border: 2px solid red;  */
    color: #253347;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    /* margin-left: 16px; */
    letter-spacing: -1px;
    /* border: 2px solid red; */
}

section.limitation .limitation-middle .left h5,
section.limitation .limitation-middle .right h5 {
    /* border: 2px solid red; */
    color: #5E6E85;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
}

section.limitation .limitation-bottom {
    display: flex;
    gap: 32px;
    width: 762px;
    margin: 0 auto 0;
}

section.limitation .limitation-bottom .left div:first-child,
section.limitation .limitation-bottom .right div:first-child {
    /* border: 2px solid red; */
    display: flex;
    gap: 16px;
}


section.limitation .limitation-bottom .left div:first-child h3,
section.limitation .limitation-bottom .right div:first-child h3 {
    /* border: 2px solid blue; */
    color: #253347;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    /* margin-left: 16px; */
    letter-spacing: -1px;
    /* border: 2px solid red; */
}

section.limitation .limitation-bottom .left h5,
section.limitation .limitation-bottom .right h5 {
    color: #5E6E85;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    /* border: 2px solid purple; */
}

section.limitation .limitation-bottom .left,
section.limitation .limitation-bottom .right {
    border-radius: 16px;
    padding: 32px;
    box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
}